*{
  margin: 0;
  padding: 0;
}

#main p{
	line-height: 1.6em;
}

#mainheader{
	background-color:#DAA520;
	color:black;
	padding:15px;
}

#navbar{
	background-color: black;
	color:white;
	padding:10px;
}

#navbar ul{
	list-style: none;
}

#navbar ul li{
	display:inline;
}

#navbar a{
	text-decoration: none;
	color:white;
	margin:5px;
}

a:hover{
	font-size:30px;
}

#showcase {
	background-image:url("../Javascript/elephant.jpg");
	min-height:300px;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	margin-bottom:30px;
}

#showcase h1{
	color: black;
	font-size:50px;
	padding-top:130px;
}

#main{
	float:left;
	width:70%;
	box-sizing: border-box;
	padding:10px;
}

#sidebar{
	float:right;
	width:30%;
	background-color:#F0E68C;
	border-radius:5px;
	border-style: solid;
	box-sizing: border-box;
	padding:10px;
	list-style-position: inside;
}

#mainfooter{
	background-color: black;
	text-align:center;
	color:white;
	padding:5px;
	font-style: italic;
	margin-top:30px;
}

.box1 {
	padding: 10px 15px;
	text-align: center;
	margin: 20px 0px;
}

.box1 h1{
	text-decoration: underline;
}


.box2 {
	margin-top: 50px;
	overflow: auto;
}

.container {
	width: 80%;
	margin: auto;
	overflow:hidden;
}

.block {
	float: left;
	width:25%;
	box-sizing: border-box;
}

label {
	line-height: 2;
}


button{
	padding:5px 10px;
	border-radius: 4px;
	border:2px solid black;
	background-color: white; 
	margin-left: 10px;
}

button:hover {
    background-color: black;
    transition-duration: 0.5s;
    cursor: pointer;
    color:white;
}

.randombox{
	border: 2px double black;
	height: 75px;
	width:16%;
	line-height: 75px;
	float:left;
	margin:20px;
	text-align: center;
	box-sizing: border-box;
	background-image: url(mystery.png);
	background-position: bottom center;
	opacity:0.8;
	color: white;
	font-size: 30px;
}


textarea{
	width:30%;
	height:80px;
	border:1px solid black;
}


#blockchain input{
	vertical-align: top;
	float:right;
	width:50%;
}

#blockchain button{
	margin-right: 5%;
	margin-left: 5%;
}

@media(max-width: 600px){
	#main{
		width:100%;
		float:none;
	}

	#sidebar{
		width:100%;
		float:none;
	}
}

@media(max-width: 980px){
	input{
		width:30%;
		box-sizing: border-box;
	}
	label{
		display:inline-block;
		line-height: 20px;
	}
	td{
		line-height: 65px;
	}
}